<div class="fullscreen-container">
  <div class="center-div" id="education">
    <h1 class="text-4xl font-bold text-slate-200 sm:text-5xl">Education</h1>
    
    <div class="education-entry">
      <h2 class="mt-3 text-lg font-medium text-slate-200 sm:text-xl">Illinois Institute of Technology, Chicago, IL</h2>
      <p class="date text-sm text-slate-400">Aug 2016 – May 2018</p>
      <p class="degree text-lg text-slate-200">Master of Computer Science with honors</p>
      <p class="specialization text-lg text-slate-200">Specialization in Distributed and Cloud Computing</p>
    </div>
    
    <div class="education-entry">
      <h2 class="mt-3 text-lg font-medium text-slate-200 sm:text-xl">Jamia Millia Islamia, New Delhi, India</h2>
      <p class="date text-sm text-slate-400">Jul 2006 – May 2010</p>
      <p class="degree text-lg text-slate-200">Bachelor of Computer Engineering with honors</p>
    </div>
    
  </div>
</div>
