<div class="fullscreen-container">
  <div class="row">
    <div class="col-12 col-md-5 text-center pic-container">
      <img class="my-pic" src="Sadique.jpg" alt="">
    </div>
    <div class="col-12 col-md-7 center-div">
      <div>
        <h1><a href="/">Hey! Its Alisha Here!</a></h1>
        <h3>I'm a proud cat mom to two adorable felines, Zara and Zuzu. My passion for cooking extends to sharing
          mouthwatering recipe videos on Instagram. In addition to my culinary pursuits, I enjoy expressing my
          creativity
          through digital art and the intricate world of henna tattooing.</h3>
          <br>
          <br>
          <p>(This portfolio is loosely designed in Figma and coded in Visual Studio Code. Built with Angular 16, HTML5, SCSS, deployed with github.)</p>
      </div>
    </div>
  </div>
</div>