<div class="fullscreen-container">
  <div class="row">
    <div class="col-12 col-md-5 text-center pic-container">
      <img class="my-pic" src="assets/msadique.png" alt="">
    </div>
    <div class="col-12 col-md-7 center-div">
      <div>
        <h1><a href="/">Hey! Its Sadique Here!</a></h1>
        <p><strong>With over 12 years of experience in the software engineering industry, I am recognized as a seasoned expert in both backend and full-stack development. My career is distinguished by significant contributions to enhancing cloud-based distributed storage architectures and developing robust microservices. I excel in orchestrating complex, stateful deployments on Kubernetes, optimizing data ingestion and processing pipelines, and innovating storage solutions to support applications on a global scale. My methodology integrates a comprehensive understanding of the development lifecycle with effective cross-functional team leadership, ensuring that project goals are surpassed.
        </strong></p>
          <br>
          <br>
      </div>
    </div>
  </div>
</div>