<div class="fullscreen-container">
  <div class="row">
    <div class="col-12 col-md-5 text-center pic-container">
      <img class="my-pic" src="assets/sadique.png" alt="">
    </div>
    <div class="col-12 col-md-7 center-div">
      <div>
        <h1><a href="/">Hey! Its Sadique Here!</a></h1>
        <h3>With over 12 years of experience in the software engineering industry, 
          I stand out as a seasoned expert specializing in both backend and full-stack development.
          My technical journey is marked by significant contributions to backend and full-stack development, 
          with a profound focus on enhancing cloud-based distributed storage architectures and microservices. 
          I excel in orchestrating complex, stateful deployments on Kubernetes, optimizing data ingestion 
          and processing pipelines, and driving the evolution of storage solutions to support global-scale applications. 
          My approach combines a deep understanding of the entire development lifecycle with a flair for cross-functional team leadership, 
          ensuring that project requirements are not just met but exceeded.</h3>
          <br>
          <br>
      </div>
    </div>
  </div>
</div>