
  <div class="fullscreen-container">
    <div id="1" class="row exp-row">
      <div class="col-12 col-md-5 duration text-md-end"><h3>Spot Bonus :</h3></div>
        <div class="col-12 col-md-5 work-exp-content">

          <div class="role">
            <p>Recognized by <strong>David Baldie, Google Manager,</strong> for exceptional performance and contributions to building the carbon compiler for xUIKit, ensuring long-term compatibility for components at Google in 2023.</p>
          </div>
        </div>
    </div>
    <div id="1" class="row exp-row">
        <div class="col-12 col-md-5 duration text-md-end"><h3>Impact Award :</h3></div>
          <div class="col-12 col-md-5 work-exp-content">
  
            <div class="role">
              <p>Acknowledged by <strong>Susan Brauns, GE HealthCare Director,</strong> for focused commitment to delivering Duke Release 1.x at GE HealthCare, 2021.</p>
            </div>
          </div>
      </div>
      <div id="1" class="row exp-row">
        <div class="col-12 col-md-5 duration text-md-end"><h3>Bravo Award :</h3></div>
          <div class="col-12 col-md-5 work-exp-content">
  
            <div class="role">
                <p>Commended by <strong>Jeff Terry, CEO GE Clinical Command,</strong> for versatile development work characterized by high-quality output, effective collaboration with business teams, and unwavering commitment to the cross-functional team at GE HealthCare, 2020.</p>
            </div>
          </div>
      </div>
      <div id="1" class="row exp-row">
        <div class="col-12 col-md-5 duration text-md-end"><h3>SNAP Award :</h3></div>
          <div class="col-12 col-md-5 work-exp-content">
  
            <div class="role">
              <p>Team Excellence Award for outstanding demonstration of ownership, global team coordination, and extraordinary technical abilities in successfully executing Feature development and support activities for TEKELEC PIC 7.x releases at Aricent Technology, 2013.</p>
            </div>
          </div>
      </div>
      
</div>