<div class="fullscreen-container2">
    <div class="center-div" id="awards">
      <h1 class="text-4xl font-bold text-slate-200 sm:text-5xl">Awards</h1>
      
      <div class="award-entry">
        <p><strong><span class="award-name">Spot Bonus:</span></strong> Recognized by <strong>David Baldie, Google Manager,</strong> for exceptional performance and contributions to building the carbon compiler for xUIKit, ensuring long-term compatibility for components at Google in 2023.</p>
      </div>
      
      <div class="award-entry">
        <p><strong><span class="award-name">Impact Award:</span></strong> Acknowledged by <strong>Susan Brauns, GE HealthCare Director,</strong> for focused commitment to delivering Duke Release 1.x at GE HealthCare, 2021.</p>
      </div>
      
      <div class="award-entry">
        <p><strong><span class="award-name">Bravo Award:</span></strong> Commended by <strong>Jeff Terry, CEO GE Clinical Command,</strong> for versatile development work characterized by high-quality output, effective collaboration with business teams, and unwavering commitment to the cross-functional team at GE HealthCare, 2020.</p>
      </div>
      
      <div class="award-entry">
        <p><strong><span class="award-name">SNAP Award:</span></strong> Team Excellence Award for outstanding demonstration of ownership, global team coordination, and extraordinary technical abilities in successfully executing Feature development and support activities for TEKELEC PIC 7.x releases at Aricent Technology, 2013.</p>
      </div>
      
    </div>
  </div>
