.fullscreen-container2 {
    width: 80%;
    position: relative;
    height: 100vh; /* 100% of the viewport height */
    text-align: center;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 0 auto; /* Ensures the container is centered in the viewport */
    color: aliceblue; /* Applies color to all text inside */
}

.center-div {
    width: auto; /* Adjust based on content, or set a specific width */
    padding: 40px;
    text-align: left; /* Aligns text inside .center-div to the left */
    position: absolute; /* Absolute position relative to its positioned parent */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Correctly centers the div */
}

.center-div h1 {
    margin-bottom: 30px; /* Adds more space between the heading and the first award entry */
}

.award-entry:first-of-type {
    margin-top: 20px; /* Alternatively, adds additional space before the first award entry */
}
.award-name {
    background-color: #add8e6; /* Light blue */
    color: #004777; /* Dark blue for contrast */
    padding: 2px 6px;
    border-radius: 4px;
}

.exp-row {
    padding-top: 15px;
    padding-bottom: 15px;
    transition: all linear 0.1s;
  
    .duration {
      font-size: 1.2rem;
      font-weight: bold;
    }
  
    .work-exp-header {
      transition: all linear 0.1s;
    }
  
    .skill-ul {
      flex-wrap: wrap;
      display: flex;
      gap: 10px;
      padding-left: 0px;
    }
  
  
    .skill-list {
      margin-top: .5rem;
    }
  
  
  
    .skill-div {
      --tw-text-opacity: 1;
      color: rgb(94 234 212/var(--tw-text-opacity));
      line-height: 1.25rem;
      font-weight: 500;
      font-size: .75rem;
      line-height: 1rem;
      padding-top: .25rem;
      padding-bottom: .25rem;
      padding-left: .75rem;
      padding-right: .75rem;
      background-color: rgba(45, 212, 191, .1);
      border-radius: 9999px;
      align-items: center;
      display: flex;
    }
  
    &:hover {
      background-color: #ffffff10;
  
      .work-exp-header {
        // color: rgb(0, 153, 255)
        color: #9be5c6;
      }
  
      .duration {
        color: #9be5c6;
      }
    }
  
  }
  
  
  
  ul {
    margin-bottom: 0;
  
    li {
      list-style-type: none;
  
    }
  }
  
  .fullscreen-container {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: aliceblue;
  }
  
  h1 {
    font-weight: bold;
    font-size: 1.8rem;
  }
  
  .work-exp-content {
    // width: 60%;
  }
  
  .work-exp-header {
    margin-bottom: 10px;
  }
  