
<!-- your-component.component.html -->
<div class="fullscreen-container">
  <div>
    <h1 class="current-stack">My Current Tech Stack</h1>

  <br>
  <br>
  <div class="container">

    <div class="stack-row">

      <div class="stack-column">
        <p class="technology">Front-End Dev</p>
        <div class="row skill-row">
        <div class="col logo" style="background-image: url('assets/skills/html.png');">
          <div class="name">HTML 5</div>
        </div>
        <div class="col logo" style="background-image: url('assets/skills/angular.png');">
          <div class="name">Angular</div>
        </div>
</div>
        <div class="row skill-row">
        <div class="col logo" style="background-image: url('assets/skills/bootstrap.png');">
          <div class="name">Bootstrap</div>
        </div>
        <div class="col logo" style="background-image: url('assets/skills/css.png');">
          <div class="name">CSS</div>
        </div>
</div>
        <div class="row skill-row">
        <div class="col logo" style="background-image: url('assets/skills/javascript.png');">
          <div class="name">JavaScript</div>
        </div>
        <div class="col logo" style="background-image: url('assets/skills/jquery.png');">
          <div class="name">jQuery</div>
        </div>
</div>
      </div>


      <div class="stack-column">
        <p class="technology">Back-End Dev</p>
        <div class="row skill-row">
          <div class="col logo" style="background-image: url('assets/skills/python.png');">
            <div class="name">Python</div>
          </div>
          <div class="col logo" style="background-image: url('assets/skills/nodejs.png');">
            <div class="name">Node JS</div>
          </div>
  </div>

      </div>


      <div class="stack-column">
        <p class="technology">Database</p>
        <div class="row skill-row">
          <div class="col logo" style="background-image: url('assets/skills/postgresql.png');">
            <div class="name">PostgreSQL</div>
          </div>
          <div class="col logo" style="background-image: url('assets/skills/sqlserver.png');">
            <div class="name">SQL Server</div>
          </div>
  </div>

  <div class="row skill-row">
    <div class="col logo" style="background-image: url('assets/skills/dynamodb.png');">
      <div class="name">Dynamo DB</div>
    </div>
    <div class="col logo" style="background-image: url('assets/skills/mongodb.png');">
      <div class="name">Mongo DB</div>
    </div>
</div>

<div class="row skill-row">
  <div class="col logo" style="background-image: url('assets/skills/elasticsearch.png');">
    <div class="name">Elastic Search</div>
  </div>
  <div class="col logo" style="background-image: url('assets/skills/amazonrds.png');">
    <div class="name">Amazon RDS</div>
  </div>
</div>

      </div>


      <div class="stack-column">
        <p class="technology">DevOps</p>
        <div class="row skill-row">
          <div class="col logo" style="background-image: url('assets/skills/aws.png');">
            <div class="name">AWS</div>
          </div>
          <div class="col logo" style="background-image: url('assets/skills/octopus.png');">
            <div class="name">Octopus</div>
          </div>
  </div>
      </div>

    </div>

    <div class="stack-row" style="margin-top: 20px; display:none">
      <div class="stack-column">
        <p>skills worked previously</p>
      <div class="row skill-row">
        <div class="col logo" style="background-image: url('assets/skills/html.png');"></div>
        <div class="col logo" style="background-image: url('assets/skills/angular.png');"></div>
        <div class="col logo" style="background-image: url('assets/skills/html.png');"></div>
        <div class="col logo" style="background-image: url('assets/skills/angular.png');"></div>
        <div class="col logo" style="background-image: url('assets/skills/html.png');"></div>
        <div class="col logo" style="background-image: url('assets/skills/angular.png');"></div>
      </div>
      </div>
    </div>


    </div>
  </div>
  </div>



