/* your-component.component.css */
.fullscreen-container {
  padding-top:10%;
  margin-top: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: aliceblue;
}

#wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 120px;
  width: 516px;
}


.hey{
  display: flex;
  justify-content: center;
}




.skill-row{
  margin-top: 20px;
  margin-bottom: 30px;
  .logo{
    width: 5rem;
    height: 5rem;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    // box-shadow: 1px 1px 1px black;
    filter: drop-shadow(5px 5px 2px rgba(0, 0, 0,1));
    transition: all 0.2s linear;
}
}

.technology{
  border: 2px solid #fff;
  border-radius: 12px;
  padding: 5px;
  box-shadow: 10px 5px 5px grey;
}


.container{
  width: 100%;
  min-height: 100vh;
}

.stack-row{
  width:90%;
  max-width: 1100 px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap:25px;
}

.current-stack{
  color:#fff;
  text-align: center;
  font-size:x-large;
}

.stack-column{
  background: #1f283b;
  padding: 10% 15% ;
  border-radius: 10px;
  color:#fff;
  text-align: center;

  }

  .skill-row{
    .logo{
      width: 5rem;
      height: 5rem;
      margin: auto;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      position: relative;
      // box-shadow: 1px 1px 1px black;
      filter: drop-shadow(5px 5px 2px rgba(0, 0, 0,1));
      transition: all 0.2s linear;
        .name{
          line-height: 1.2;
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          transform: translateY(-15px);
          opacity: 0;
          transform-origin: top;
          transition: all 0.2s linear 0.1s;
      }
    }
    &:hover .logo{
      opacity: 1;
      transform: scale(1.1);
      filter: drop-shadow(15px 15px 5px rgba(0, 0, 0, 0.7));
      .name{
          transform: translateY(0px);
          opacity: 1;
      }
  }
  }


  // .logo:hover{
  //   opacity: 1;
  // transform: scale(1.1);
  // filter: drop-shadow(15px 15px 5px rgba(0, 0, 0, 0.7));
  // }
  // .name:hover{
  //   transform: translateY(0px);
  //      opacity: 1;
  // }

// &:hover .logo{
//   opacity: 1;
//   transform: scale(1.1);
//   filter: drop-shadow(15px 15px 5px rgba(0, 0, 0, 0.7));
//   .name{
//       transform: translateY(0px);
//       opacity: 1;
//   }
// }

.stack-column p:hover{
  transform: scale(1.1);
}

.stack-column p{
  font-size: 22px;
  margin: 20px 0px 40px;
}

.stack-column ul{
  text-align: left;
  margin:20px 0;
  color: #ddd;
}

.stack-column ul li{
 margin: 15px 0;
}


