<div class="fullscreen-container">
  <div id="1" class="row exp-row">
    <div class="col-12 col-md-5 duration text-md-end">July 2022 - Present</div>
      <div class="col-12 col-md-5 work-exp-content">
        <div class="work-exp-header">
          <h1>GOOGLE, Mountain View</h1>
          <p>Software Engineer (L5)</p>
        </div>
        <div class="role">
          <p><strong>System Design & Implementation Lead:</strong> Spearheaded SDS Analyzer and Linter development for Hardcoded Value Checks. Optimized for distributed computing, enhancing data processing and performance across nodes.</p>
        </div>
        <div class="role">
          <p><strong>Distributed Computing Optimization:</strong> Pioneered the use of Kubernetes and Borg server to facilitate the distributed computing needs of the SDS Analyzer and SDS Linter, enhancing their performance and scalability. This work included designing containerized applications that could dynamically scale within Google's vast compute network, leading to significant improvements in processing speed and system reliability.</p>
        </div>
        <div class="role">
          <p><strong>Cloud Deployment & Kubernetes Efficiency:</strong> Led the integration and Kubernetes-based deployment of the Piper API with the xUIKit Compiler on Google Cloud, enhancing CI/CD pipeline efficiency and cross-team collaboration.</p>
        </div>
        <div class="role">
          <p><strong>SDS Analyzer: ML Error Detection and Generative AI Suggestions:</strong> Implemented an SDS Analyzer utilizing a machine learning model to identify errors, such as hardcoded values in code, and employed Generative AI to provide suggestions for replacing hardcoded values with appropriate SDS token names.</p>
        </div>
        <div class="role">
          <p><strong>Advanced Query Processing Development:</strong> Pioneered an advanced query processing system for the Rendered Template. This innovation, based on live production data from google.com, markedly improved the ability to log and trigger SQL queries from a terabyte-scale database.</p>
        </div>
        <div class="role">
          <p><strong>Strategic Analysis and Implementation:</strong> Conducted comprehensive strategic analyses of SDS Tools, working closely with stakeholders. This effort culminated in the successful implementation of the SDS Internal Analyzer.</p>
        </div>
        <div class="role">
          <p><strong>Proactive Technical Support and Problem-Solving:</strong> Played a key role in On-Call GWS-UI-Interrupts, demonstrating my commitment to proactive monitoring, swift troubleshooting, and effective resolution of GWS pushes and UI bugs.</p>
        </div>
        
        <div class="skill-container">
          <ul class="mt-2 skill-ul">
            <li class="skill-list mr-1.5" *ngFor="let skill of googleSkills">
              <div class="skill-div">{{ skill }}</div>
            </li>
          </ul>
        </div>
      </div>
  </div>


  <div id="1" class="row exp-row">
    <div class="col-12 col-md-5 duration text-md-end">Sep 2021 – July 2022</div>
      <div class="col-12 col-md-5 work-exp-content">
        <div class="work-exp-header">
          <h1>Microsoft, Redmond</h1>
          <p>Senior Software Engineer</p>
        </div>
        <div class="role">
          <p><strong>AI-Powered CI/CD Pipeline Development with Azure Kubernetes Service (AKS):</strong> Pioneered the design and implementation of a cutting-edge AI-powered CI/CD pipeline. Employed predictive analytics and machine learning algorithms within the Azure Kubernetes Service (AKS) environment to proactively detect Windows update bugs and perform social media analysis, ultimately contributing to heightened production stability.</p>
        </div>
        <div class="role">
          <p><strong>Database Sharding Initiative:</strong> Led the strategic execution of database sharding for the WSD database, optimizing data management and query response times.</p>
        </div>
        <div class="role">
          <p><strong>Integration Leadership:</strong> Successfully integrated the sharded database with the existing infrastructure, markedly improving system performance and efficiency.</p>
        </div>
        <div class="role">
          <p><strong>Machine Learning Model Enhancement with Azure AKS:</strong> Led efforts to enhance the RoBERTa (NLP) model's accuracy by refining data processing using PyTorch in Python. Strategically deployed these models onto Azure Cloud workspaces, implementing an advanced load-sharing system using Azure Kubernetes Service (AKS) for optimized resource utilization.</p>
        </div>
        <div class="role">
          <p><strong>Cross-Team Collaborative Success:</strong> Fostered cross-team and cross-functional collaborations for seamless integration and scalability of models in Azure Cloud, significantly elevating model reliability and performance.</p>
        </div>        
        <div class="skill-container">
          <ul class="mt-2 skill-ul">
            <li class="skill-list mr-1.5" *ngFor="let skill of microsoftSkills">
              <div class="skill-div">{{ skill }}</div>
            </li>
          </ul>
        </div>
      </div>
  </div>

  <div id="1" class="row exp-row">
    <div class="col-12 col-md-5 duration text-md-end">July 2019 – Sep 2021</div>
      <div class="col-12 col-md-5 work-exp-content">
        <div class="work-exp-header">
          <h1>GE HealthCare, Hoffman Estates, IL</h1>
          <p>Senior Software Engineer</p>
        </div>

        <div class="role">
          <p><strong>Microservices Orchestration with Amazon EKS:</strong> Seamlessly integrated microservices using Amazon Elastic Kubernetes Service (EKS) into the CI/CD pipeline, optimizing our distributed system architecture.</p>
        </div>
        <div class="role">
          <p><strong>Master-Slave Architecture Implementation:</strong> Led the development of a Master-Slave Architecture for the HL7-Processor, markedly boosting system performance.</p>
        </div>
        <div class="role">
          <p><strong>Amazon EKS-Powered Scalable System Design:</strong> Devised a scalable system design harnessing the capabilities of Amazon Elastic Kubernetes Service (EKS), facilitating the seamless integration of new services and servers while enhancing system adaptability and processing capabilities.</p>
        </div>
        <div class="role">
          <p><strong>Production Support & Cross-Functional Leadership:</strong> Managed cross-functional teams in critical production support, resolving complex issues and fostering stakeholder collaboration.</p>
        </div>
        <div class="role">
          <p><strong>Data Ingestion and Management with Kubernetes:</strong> Spearheaded comprehensive Data Ingestion projects for the COVID Tile across multiple hospital systems, leveraging Kubernetes for automated deployment and scaling of data processing pipelines.</p>
        </div>
        <div class="role">
          <p><strong>System Optimization & Machine Learning:</strong> Implemented the Chain of Responsibility design pattern for system optimization and employed machine learning with TensorFlow for healthcare analytics and patient safety improvements.</p>
        </div>
        
        <div class="skill-container">
          <ul class="mt-2 skill-ul">
            <li class="skill-list mr-1.5" *ngFor="let skill of geHealthcareSkills">
              <div class="skill-div">{{ skill }}</div>
            </li>
          </ul>
        </div>
      </div>
  </div>

  <div id="1" class="row exp-row">
    <div class="col-12 col-md-5 duration text-md-end">Oct 2018 – Jun 2019</div>
      <div class="col-12 col-md-5 work-exp-content">
        <div class="work-exp-header">
          <h1>CME Group, Chicago</h1>
          <p>Software Java Developer</p>
        </div>

        <div class="role">
          <p><strong>Redesign & Rebuild:</strong> Led the redesign and partial reconstruction of critical functionalities within the CME Scheduler tool. Utilized Java, Spring MVC, and Microservices architecture for modernization.</p>
        </div>
        <div class="role">
          <p><strong>Coding Expertise:</strong> Demonstrated prowess in design, coding, and unit testing, resulting in the delivery of reliable and reusable solutions.</p>
        </div>
        <div class="role">
          <p><strong>Agile Scrum Adoption:</strong> Played a pivotal role in the adoption of Agile Scrum methodologies, fostering collaboration and a streamlined development process.</p>
        </div>
        <div class="role">
          <p><strong>Optimal Design Solutions:</strong> Provided strategic design solutions to minimize impacts across various modules, enhancing overall system efficiency.</p>
        </div>
        <div class="role">
          <p><strong>Efficient Project Management:</strong> Efficiently managed project development and issue tracking using JIRA, ensuring transparency and accountability throughout the project lifecycle.</p>
        </div>
        

        <div class="skill-container">
          <ul class="mt-2 skill-ul">
            <li class="skill-list mr-1.5" *ngFor="let skill of cmeSkills">
              <div class="skill-div">{{ skill }}</div>
            </li>
          </ul>
        </div>
      </div>
  </div>

  <div id="1" class="row exp-row">
    <div class="col-12 col-md-5 duration text-md-end">Nov 2017 – Sep 2018</div>
      <div class="col-12 col-md-5 work-exp-content">
        <div class="work-exp-header">
          <h1>AT&T, Schaumburg, IL</h1>
          <p>Senior Software Engineer</p>
        </div>

        <div class="role">
          <p><strong>Architecture & UI Development:</strong> Implemented Spring MVC and front controller design patterns for a project, crafting user interfaces with Struts web MVC and Action Servlet.</p>
        </div>
        <div class="role">
          <p><strong>End-to-End Responsibility:</strong> Held accountable for the entire development lifecycle, including design, coding, unit testing, and support. Introduced CI/CD processes to ensure the delivery of reliable and reusable solutions.</p>
        </div>
        <div class="role">
          <p><strong>Database Expertise:</strong> Utilized SQL DB (Oracle) for data storage, proficiently performing CRUD operations on complex objects.</p>
        </div>
        <div class="role">
          <p><strong>Microservices & E911:</strong> Constructed E911 verification and RFDS Builder using Spring MVC, Spring Boot, and a suite of microservices. Employed SOAP for seamless communication between services and internal applications.</p>
        </div>
        <div class="role">
          <p><strong>RFDS Architecture:</strong> Assumed significant ownership of the RFDS service-oriented architecture, actively contributing to database design and development using SQL (Oracle) and PL/SQL scripting.</p>
        </div>
        <div class="role">
          <p><strong>Agile Scrum Champion:</strong> Committed to Agile Scrum methodologies, enhancing team collaboration, and facilitating iterative development.</p>
        </div>
        

        <div class="skill-container">
          <ul class="mt-2 skill-ul">
            <li class="skill-list mr-1.5" *ngFor="let skill of attSkills">
              <div class="skill-div">{{ skill }}</div>
            </li>
          </ul>
        </div>
      </div>
  </div>
  

  <div id="1" class="row exp-row">
    <div class="col-12 col-md-5 duration text-md-end">Dec 2013 – July 2016</div>
      <div class="col-12 col-md-5 work-exp-content">
        <div class="work-exp-header">
          <h1>Biba Apparels, Delhi, India</h1>
          <p>Lead Software Engineer</p>
        </div>

        <div class="role">
          <p><strong>Multi-Tier Web Applications:</strong> Spearheaded diverse web apps, including eCommerce sites and payment gateway integration. Led tech and strategy, aligning with business goals.</p>
        </div>
        <div class="role">
          <p><strong>Architectural Vision:</strong> Played a pivotal role in shaping the future architectural direction across the entire product portfolio. Led engaging technical and business discussions with stakeholders and expertly guided the team in implementing these critical decisions.</p>
        </div>
        <div class="role">
          <p><strong>Client-Centric Leadership:</strong> Established direct engagement with end-users and Product Owners, assuming leadership in comprehending and addressing client needs. This proactive approach ensured that the technical solutions crafted were precisely tailored to meet client requirements.</p>
        </div>
        <div class="role">
          <p><strong>Quality Assurance:</strong> Conducted thorough audits of requirements, designs, code, and test plans, upholding SDLC standards.</p>
        </div>
        <div class="role">
          <p><strong>Backend Development:</strong> Directed the architectural design and development of backend processes for seamless interaction with Web Services and JMS, particularly for reading and posting product reviews.</p>
        </div>
        
        <div class="skill-container">
          <ul class="mt-2 skill-ul">
            <li class="skill-list mr-1.5" *ngFor="let skill of bibaSkills">
              <div class="skill-div">{{ skill }}</div>
            </li>
          </ul>
        </div>
      </div>
  </div>
  <div id="1" class="row exp-row">
    <div class="col-12 col-md-5 duration text-md-end">Sep 2010 – Nov 2013</div>
      <div class="col-12 col-md-5 work-exp-content">
        <div class="work-exp-header">
          <h1>Aricent Group, Delhi, India</h1>
          <p>Senior Software Engineer</p>
        </div>

        <div class="role">
          <p><strong>Robust Network Platform:</strong> Developed a robust Network Mediation Platform supporting IP, UMTS, LTE, and GSM networks, showcasing interdisciplinary expertise and advanced network principles.</p>
        </div>
        <div class="role">
          <p><strong>Integration Expertise:</strong> Successfully integrated the platform into large-scale distributed systems, efficiently managing petabytes of shared data storage, demonstrating advanced system scalability and data handling capabilities.</p>
        </div>
        <div class="role">
          <p><strong>C++ Framework Pioneer:</strong> Designed, prototyped, and tested a multi-platform C++ framework with data structures, algorithms, sockets, MPI, multi-threading, and network programming, emphasizing object-oriented design.</p>
        </div>
        <div class="role">
          <p><strong>Issue Resolution:</strong> Efficiently resolved xDR builders' issues (SS7, UMTS, GSM, LTE) in a distributed, multi-threaded Linux environment using C++, addressing builder crashes and coding/debugging problems.</p>
        </div>
        <div class="role">
          <p><strong>Code Quality Champion:</strong> Conducted peer reviews of code, feature descriptions, and unit test cases to maintain high code quality and standard compliance.</p>
        </div>
        <div class="role">
          <p><strong>Performance Optimization:</strong> Enhanced Network Mediation Platform performance by optimizing the Linux kernel, focusing on memory management, process scheduling, and I/O operations. Implemented advanced techniques like short polling and multithreading for efficient resource utilization and responsive system behavior.</p>
        </div>
        
        <div class="skill-container">
          <ul class="mt-2 skill-ul">
            <li class="skill-list mr-1.5" *ngFor="let skill of aricentSkills">
              <div class="skill-div">{{ skill }}</div>
            </li>
          </ul>
        </div>
      </div>
  </div>

</div>

