<div class="fullscreen-container">
  <div id="1" class="row exp-row">
    <div class="col-12 col-md-5 duration text-md-end">Apr 2021 - Present</div>
      <div class="col-12 col-md-5 work-exp-content">
        <div class="work-exp-header">
          <h1>Intelligent Medical Objects, Chicago</h1>
          <p>Software Engineer</p>
        </div>
        <div>
          Developed and maintained Angular 14 web apps with interactive interfaces, using Python for server-side logic, and AWS Lambda for serverless microservices. Created secure API endpoints with AWS API Gateway, managed PostgreSQL databases, and reduced AWS costs by 28%. Utilized Terraform for cloud provisioning, established monitoring with New Relic and AWS CloudWatch, and resolved performance issues. Also worked on Amazon Kinesis Data Firehose, automated SOC2 compliance evidence, and developed Spark ETL jobs for Amazon RDS using AWS Glue. Conducted performance and reliability tests with K6 for APIs and websites.
        </div>
        <div>
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
              <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
              <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
            </svg>
             <a href="https://www.imohealth.com/imo-precision-normalize/" >IMO Precision Normalize</a>
          </span>
          &nbsp;
          <span >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
              <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
              <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
            </svg>
            <a href="https://www.imohealth.com/imo-core/">IMO Core</a></span>
        </div>
        <div class="skill-container">
          <ul class="mt-2 skill-ul">
            <li class="skill-list mr-1.5" *ngFor="let skill of imoSkills">
              <div class="skill-div">{{ skill }}</div>
            </li>
          </ul>
        </div>
      </div>
  </div>


  <div id="1" class="row exp-row">
    <div class="col-12 col-md-5 duration text-md-end">Sep 2019 – Apr 2021</div>
      <div class="col-12 col-md-5 work-exp-content">
        <div class="work-exp-header">
          <h1>AmpliFI Loyalty Solutions, Greater Chicago Area</h1>
          <p>Software Engineer</p>
        </div>

        <div>
          Developed Java applications with Spring MVC, MyBatis, and AWS, utilizing Spring MVC, IOC, AOP for controller classes, backend processes, and database interaction. Created UI with HTML5, CSS, JavaScript, and jQuery. Integrated AWS with other infrastructure, wrote Junit test cases, and followed Agile Scrum. Proficient with Maven, Sonar, Jenkins. Designed and integrated Spring DAO layer with MyBatis, using log4j2 for logging. Supported QA/UAT defect resolution, used Jira for defect reports. Managed builds for development/testing and created technical release notes. Mentored new hires in project setup, design, and knowledge transfer.
        </div>
        <div>
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
              <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
              <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
            </svg>
            <a href="https://www.amplifiloyalty.com/innovative-solutions/real-time-rewards/">Real Time Rewards</a></span>
          &nbsp;
          <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
              <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z"/>
              <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z"/>
            </svg>
            <a href="https://www.amplifiloyalty.com/innovative-solutions/amp/">AMP</a></span>
        </div>

        <div class="skill-container">
          <ul class="mt-2 skill-ul">
            <li class="skill-list mr-1.5" *ngFor="let skill of amplifiSkills">
              <div class="skill-div">{{ skill }}</div>
            </li>
          </ul>
        </div>
      </div>
  </div>

  <div id="1" class="row exp-row">
    <div class="col-12 col-md-5 duration text-md-end">May 2018 – Sep 2019</div>
      <div class="col-12 col-md-5 work-exp-content">
        <div class="work-exp-header">
          <h1>MIP Corporation, Chicago</h1>
          <p>Software Engineer</p>
        </div>

        <div>
          developed UI/UX web applications using JavaScript, JSP, Java, and other platforms for ICR database access. Executed MySQL queries with Python via Python-MySQL connector and MySQL dB. Extracted and structured data with JDBC, passing it through session variables and URL parameters for frontend presentation using JSP. Utilized data structures like HashMap, ArrayLists, and Tree Lists in the backend. Additionally, I developed programs to convert cognitive thought processes into data and load them into the ICR database, while also gaining experience with cognitive technology, cloud tech, and Google Voice Recognition & Synthesis.
        </div>

        <div class="skill-container">
          <ul class="mt-2 skill-ul">
            <li class="skill-list mr-1.5" *ngFor="let skill of mipSkills">
              <div class="skill-div">{{ skill }}</div>
            </li>
          </ul>
        </div>
      </div>
  </div>

  <div id="1" class="row exp-row">
    <div class="col-12 col-md-5 duration text-md-end">May 2016 – Sep 2016</div>
      <div class="col-12 col-md-5 work-exp-content">
        <div class="work-exp-header">
          <h1>Amazon Development Center, Chennai, India</h1>
          <p>Software Engineer</p>
        </div>

        <div>
          Developed a macro in Excel VBA to carry out multiple checks on audit data (~5k data), generate error reports and suggestions to curb the errors leading to automation of the process and cost-saving
        </div>

        <div class="skill-container">
          <ul class="mt-2 skill-ul">
            <li class="skill-list mr-1.5" *ngFor="let skill of amazonSkills">
              <div class="skill-div">{{ skill }}</div>
            </li>
          </ul>
        </div>
      </div>
  </div>

  <div id="1" class="row exp-row">
    <div class="col-12 col-md-5 duration text-md-end">Sep 2014 – May 2016</div>
      <div class="col-12 col-md-5 work-exp-content">
        <div class="work-exp-header">
          <h1>Capgemini, Bangalore, India</h1>
          <p>Software Engineer</p>
        </div>

        <div>
          Improved ETL code to meet business needs, created Informatica mappings, sessions, and workflows for loading target tables. Produced reports for the Guidewire Billing System with OBIEE 10G. Proficient in Oracle 10G and Unix shell scripting. Extensively used Transformations like Lookup, Update Strategy, Aggregate, Expression, Rank, Sorter, and Router for efficient population of target databases.
        </div>

        <div class="skill-container">
          <ul class="mt-2 skill-ul">
            <li class="skill-list mr-1.5" *ngFor="let skill of capgeminiSkills">
              <div class="skill-div">{{ skill }}</div>
            </li>
          </ul>
        </div>
      </div>
  </div>

</div>

