
.fullscreen-container {
  width:100%;
  top: 0;
  left: 0;
  // width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100vh; /* 100% of the viewport height */
  .center-div {
    top: 50%;
    left: 50%;
    padding: 20px;
    text-align: center;
    color: aliceblue;
  }
}

